<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> database</title>
    </head>
    <body>
            <% for(let i=0; i<html_data.length; i++) { %>
                <div> name = <%= html_data[i].name %>, age = <%= html_data[i].age  %></div>
            <% } %>
    </body>
</html>